html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.white{
    color:white;
}

.suisei-banner{
    background-color: #091B32;
    height: 100vh;
    overflow: hidden;

}

.suisei-banner h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 6.5rem;
    letter-spacing: 4px;

    position: relative;
    left:1.5%;
    
}

.suisei-banner h2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 4px;

    position: relative;
    bottom:8%;
    left:1.5%;
}

.suisei-banner img{
    height: 115%;

    position: fixed;
    top:1%;
    left: 30%;

}

.nav-panel{
    display: inline-flex;
    justify-content: center;
    
    position: relative;
    left:3%;
    z-index: 1;
}

.nav-panel h2{
    font-size: 2rem;
    margin: 0px 10px;
}

.nav-panel h2:hover{
    font-size: 2.3rem;
}
